input[type="password"] {
  letter-spacing: .33em;
}
.form-control {
  background-color: transparent;
  border-width: 0 0 2px 0;
  box-shadow: none;
  color: inherit;
  font-size: 1.15em;
  font-weight: bold;
  padding: .5em 0;

  ::placeholder {
    color: inherit;
    font-weight: normal;
    font-size: .85em;
    opacity: .8;
  }

  &:focus {
    border-bottom-color: $link-color;
    outline: none;
  }
}

.form-group, .checkbox-styled {
  margin-bottom: 1rem;
}
.form-group {
  border-bottom: 2px solid #fff;
  justify-content: space-between;

  &.d-flex {
    align-items: center;
    flex-flow: row nowrap;
  }

  &.has-tip {
    position: relative;
    &::before {
      content: 'i';
      border: 1px solid #ccc;
      border-radius: 50%;
      color: #999;
      position: absolute;
      right: 0;
      bottom: 4px;
      line-height: 20px;
      height: 20px;
      width: 20px;
      text-align: center;
    }
    .form-control { padding-right: 30px; }
  }
}

.d-flex {
  > .control-label, .form-control {
    flex: 1;
  }
  > .control-label {
    // flex: 0 0 40%;
    max-width: 110px;
  }
  > .form-control {
    // flex: 0 0 60%;
    // max-width: 60%;
    transform: translate3d(0,2px,0);
  }
}

// TODO checkbox-styled
