@import "variables.scss";

body {
  color: $text-color;
  margin: 0;
  padding: 0;
  font: 14px/1.2 Arial, sans-serif;
}

@import "layout.scss";
@import "button.scss";
@import "form_controls.scss";

a {
  color: $link-color;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}
h1 { font-size: 1.75em; }

.app-container {
  min-height: 100vh;
  position: relative;
  z-index: 0;
  &::before {
    background: url('../img/bg.jpg') no-repeat center / cover;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}
.main-content {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.signup-form { margin-bottom: 3em; }
.login-heading {
  font-size: 1em;
  font-weight: normal;
}
.login-options {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

@import "media_queries.scss";
